html {
    min-height: 100% !important;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
    font-family: 'Lora', serif;
    background-color: rgb(246, 246, 250);
}

code {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
    color: #000088;
}

.mac-img-circle {
    border: 10px solid #bbe3e5;
    border-radius: 50%;
    width: 100%;
}

.main-container {
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.main-header {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

:root {
    --piano-theme-color-dark: #e87b95;
    --piano-theme-color-light: #ffd6e1;
    --drums-theme-color-dark: #9993bf;
    --drums-theme-color-light: #d5cffa;
    --synth-theme-color-dark: #41E66A;
    --synth-theme-color-light: #dff5e4;
    --bass-theme-color-dark: #5688C7;
    --bass-theme-color-light: #ceddf0;
    --drums-piano-guide-width-px: 80px;
}

@keyframes bounce {

    0% {
        background-color: white;
    }

    20% {
        background-color: var(--piano-theme-color-light);
    }

    40% {
        background-color: var(--drums-theme-color-light);
    }

    60% {
        background-color: var(--synth-theme-color-light);

    }

    80% {
        background-color: var(--bass-theme-color-light);
    }
}

#bars {
    margin-top: 2.5rem;
    color: black;
}

#bars>a {
    color: black;
    animation: bounce 10s linear infinite;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}