body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body > h1 {
    color: #01777A;
    text-align: center;
    margin-top: 20%;
}
p {
    color: #01777A;
    text-align: center;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-overlay {
    background-color: #01777A;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 5000;
}
.main {
    background-color: #F6F6FA;
    height: 400vh;
    width: 100vh;
}

.nav {
    position: absolute;

    list-style-type: none;
    margin-top: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01777A;
    width: 100%;
    z-index: 1000;
}

.fix-search  {
    position: fixed;
    margin-top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #F6F6FA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #07081C;
    background-color: #ddd;
}

li a.active {
    color: #F6F6FA;
    background-color: #1C1D39;
    5CCC5C or indianred
}