body {

    font-family: Georgia, Times, "Times New Roman", serif;
}
body > h1 {
    color: #07081C;
    text-align: center;
    margin-top: 20%;
}
p {
    color: #07081C;
    text-align: center;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-overlay {
    background-color: #07081C;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 5000;
}
.main {
    background-color: #F6F6FA;
    height: 400vh;
    width: 100vw;
    display: inline-block;
    top: 100vh;
    margin-top: 46px;
}

.nav {
    position: absolute;

    list-style-type: none;
    top: 100vh;
    margin: 0 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #07081C;
    width: 100%;
    z-index: 1000;
}

.fix-search  {
    position: fixed;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #F6F6FA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #07081C;
    background-color: #B3B3C7;
}

li a.active {
    color: #07081C;
    background-color: #DEA937;
    5CCC5C or indianred
}
<<<<<<< HEAD

hows this for a color scheme:
    07081C
    37939E
    DDB770
=======
>>>>>>> refs/remotes/origin/master
