<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Green Text Black Screen</title>
        <link
            href="https://fonts.googleapis.com/css?family=Lora"
            rel="stylesheet"
        />
        <link href="static/css/index.css" rel="stylesheet" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-132391979-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-132391979-1');
        </script>
    </head>

    <body>
        <div id="header">
            <div class="content">
                <p><a href="/blog">Mac McCann's dev blog</a></p>
            </div>
        </div>
        <div class="content">
            <div id="posts"></div>
        </div>
    </body>
</html>
