<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Green Text Black Screen
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
    <link href="static/css/post.css" rel="stylesheet">
    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132391979-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132391979-1');
    </script>

</head>

<body>
    <div class="content">
        <div id="post"></div>
        <p class="small-gray">You can view the source for this post on <a href="https://github.com/macmccann/blog">GitHub</a>.</p>
    </div>

</body>

</html>
