#post {
    margin-top: 20px;
}

p {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333;
}

#header > .content > p {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
}

#post-meta > h2 {
    margin: 0;
}

.small-gray {
    color: #333333;
    font-size: 13px;
}

#post-meta {
    margin-bottom: 20px;
}

a { 
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}